.submenu-lefthand {
    display: flex;
    flex-direction: column;
}
.submenu-item {
    display: flex;
    height: 20px;
    margin-top: 10px;
}

.submenu-item-left,
.submenu-item-right {
    height: 20px;
    width: 50%;
    p {
        color: #fff;
        height: 20px;
        margin: 0;
    }
}

.submenu-wraper {
    display: flex;
    width: 100%;
}

.submenu-lefthand,
.submenu-righthand {
    width: 100%;
}

.submenu-lefthand p{
    padding-left: 5px;
}

.submenu-righthand {
    padding: 10px;
    color: #fff;
}

.about-top {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.about-top h3 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.about-top-header {
    padding-top: 10px;
}

.link-decorator {
    text-decoration: underline;
}

.about-bio {
    margin-top: 10px;
}

.about-h3 {
    background: #000;
}