$about-width: 50%;
$images: 50px;
$hud-width: 50%;

.custom-line {
    height: 0;
}

.custom-line:after {
    width: 100%;
    content: '';
    height: 20px;
    border-bottom: 5px solid red;
    position: absolute;
    border-radius: 2px;
}

.sub-header-row {
    height: $images;
    display: flex;
    margin-left: 10px;
    
    img {
        width: $images;
        height: $images;
        padding-right: 10px;
        display: flex;
    }
}

.sub-header-title {
    font-family: 'Open Sans Condensed', sans-serif;
}

.hud-wrapper {
    width: 100%;;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.main-menu-row {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    h4 {
        margin-top: 0;
        color: white;
    }
}

.avatar-hud {
    display: flex;
}

.avatar {
    width: 80%;
}

.sub-header-item {
    color: #fff;
    height: 20px;
    margin: 0 10px;
    
    p {
        margin-top: 0;
        height: 0;
    }
}

.sub-headers {
    position: relative;
    height: 90px;;
}







.submenu-wrapper {
    display: flex;
    flex-direction: column;
}
.submenu-item {
    display: flex;
    height: 20px;
    margin-top: 10px;
    width: 50%;
}

.submenu-item:nth-child(1) {
    margin-top: 30px;
}



.submenu-item-left,
.submenu-item-right {
    height: 20px;
    width: 50%;
    p {
        color: #fff;
        height: 20px;
        margin: 0;
    }
}

