$images: 50px;

.sub-header-row {
    height: $images;
    display: flex;
    margin: 10px;
    background: transparent !important;
    img {
        width: $images;
        height: $images;
        padding-right: 10px;
        display: flex;
        background: transparent !important;

    }
}

.sub-header-title {
    font-family: 'Open Sans Condensed', sans-serif;    
}

.sub-header-item {
    color: #fff;
    height: 20px;
    margin: 0 10 5px 0px;
    background: transparent !important;

    p {
        margin-top: 0;
        height: 0;
    }
}
