* {
   background: linear-gradient(
    to bottom,
    rgb(43, 48, 58) 0%,
    rgb(8, 10, 10) 100%
  );
  height: 100vh;
  max-width: 100%;
}
 
.avatar-info-wrapper {
  display: flex;
  max-width: 80vw;
}